Q1 Say "Hello, World!" With Python

In [1]:
print ("Hello, World!")

Hello, World!

Q2 Python If-Else

In [2]:
import math
import os
import random
import re
import sys



n = int(input())

if n % 2 != 0:
    print("Weird")
elif (n % 2 == 0) and (2 <= n <= 5):
    print("Not Weird")
elif n % 2 == 0 and 6 <= n <= 20:
    print("Weird")
elif n % 2 == 0 and n >= 20:
    print("Not Weird")

4
Not Weird

Q3 Arithmetic Operators

In [3]:
a = int(input())
b = int(input())

print (a+b)
print (a-b)
print (a*b)

5
6
11
-1
30

Q4 Python: Division

In [4]:
a = int(input())
b = int(input())

print(int(a/b))
print(float(a/b))

65
5
13
13.0

Q5 Loops

In [5]:
N = int(input())
m = 0

while m < N:
    print(m*m)
    m = m + 1

5
0
1
4
9
16

Q6 Write a function

In [7]:
def is_leap(year):
    leap = False
    
    
    if year % 400 == 0:
        leap = True
    elif year % 100 == 0:
        leap = False
    elif year % 4 == 0:
        leap = True
    
    return leap

Q7 Print Function

In [8]:
a = int(input())

n = 0

while a > n:
    n = n + 1
    print(n, end="")

6
123456